:root {

    /* 移除背景、对话框的图片 */
    --custom-background-image: url("");
    --custom-background-image-dialog: url("");
    
    /* 思源自带的背景颜色的基础上往橙色靠一靠，能少伤眼睛就少伤点 */
    --b3-theme-background-light: rgb(255, 218, 158);
    --b3-theme-background: rgb(255, 249, 212);
    --b3-border-color: rgb(254, 113, 26);
    /* 取消引用块下方的波浪线 */
    --custom-span-ref-animation-icon: url("") ;

    /* 调整标签颜色 */
    --custom-span-tag-background-color: transparent;

    /* 调整一下强调颜色 */
    --b3-theme-primary-lightest: rgba(255, 160, 101, 0.30)!important;
    --b3-theme-primary-lighter: rgb(255, 160, 101, 0.70);
    --b3-theme-primary-light: rgb(255, 170, 117);
    --b3-theme-primary:       rgb(254, 113, 26);
    --b3-theme-surface-lighter:var(--b3-theme-primary-lightest);
}

/* ------------------------------- 顶栏日历插件相关设置开始 ------------------------------------------ */


.arco-tabs, .arco-trigger-popup{
    --arco-primary:254, 113, 26!important;
    --link-6:254, 113, 26!important;
}


/* ------------------------------- 顶栏日历插件相关设置结束 ------------------------------------------ */